@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #f1be31;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 8px;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    transition: all .5s;
}

.btn:hover {
    letter-spacing: .2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    color: #fff;
    padding: 2rem 9%;
    border-bottom: .1rem solid #fff3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo a {
    font-weight: bolder;
    color: var(--body-color);
    font-size: 2.5rem;
}

header .logo img {
    margin-right: 1rem;
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: var(--text-color-light);
}

header .navbar a:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

#menu-bar {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
}

header .navbar .btn_nav {
    display: inline-block;
    padding: 0.6rem 1.6rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background: var(--btn-gradient);
    color: var(--button-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7rem;
}

header .navbar .btn_nav:hover {
    transform: scale(1.1);
    border-bottom: none;
    color: var(--button-color);
}

header .navbar a.active {
    color: #fff;
    border-bottom: 2px solid var(--text-color);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
}

.home .content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.home .content .brand {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home .first {
    width: 50%;
    height: 80%;
}

.home img {
    width: 25rem;
    flex-direction: end;
}

.home .animated {
    animation: shake ease-in-out 2s alternate-reverse infinite both;
}

@keyframes shake {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    padding: 3rem 0;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 45rem;
    text-align: center;
}

.about .row .image img {
    width: 80%;
}

.about .animate {
    animation: up-down 2s alternate-reverse both ease-in-out infinite;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    border-radius: 1rem;
    background-color: #a55301;
    text-align: center;
    border: var(--border);
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.7rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover>img {
    transform: scale(1.3) rotate(8deg) translateY(-10px);
    transition: all .5s;
}

.menu .box-container .box:hover>* {
    color: white;
}

.contact .row {
    background: var(--black);
    flex-wrap: wrap;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 10rem 0 0;
    justify-content: center;
}

.contact .row .map {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.contact .row .map img {
    width: 100%;
    height: 30%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-contact {
    background-color: #a55301;
    text-transform: uppercase;
    padding: 40px 60px 50px 60px;
    border-radius: 7px;
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    height: 30%;
}

.container-contact h1 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: white;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--main-color);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    min-width: 5px;
    transition: .3s cubic-bezier(0.68, -.55, .265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: var(--main-color);
    transform: translateY(-30px);
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}





/* media queries  */
@media (max-width:992px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--black);
        color: #fff;
        padding: 1rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        border-radius: 0px 0px 15px 15px;
        border: .5px solid var(--main-color);
    }

    header .navbar.nav-toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem 0;
        padding: 1rem;
        text-align: center;
        display: block;
        border-radius: 20px;
        font-weight: 600;
    }

    header .navbar a:hover {
        color: var(--main-color);
        border-bottom: none;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .home {
        min-height: 100vh;
        align-items: center;
        background: var(--black);
    }

    .home .first {
        width: 80%;
        height: 80%;
    }

    .home .content {
        max-width: 100%;
        margin-top: 60px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
        padding: 0;
        margin-top: 30px;
    }

    .home .content p {
        font-size: 2.5rem;
        padding: 0 3rem 0 3rem;
    }

    .home .content .btn {
        margin-bottom: 20px;
    }

    .home .content img {
        width: 28rem;
    }

    .menu .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
    }

    .contact .row {
        background: var(--black);
        flex-wrap: wrap;
        height: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem 1rem 0 0;
        justify-content: center;
    }
    
    .contact .row .map {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: row;
    }
    
    .contact .row .map img {
        width: 100%;
        height: 30%;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .container-contact {
        background-color: #a55301;
        text-transform: uppercase;
        padding: 50px;
        border-radius: 7px;
        text-align: center;
        width: 70%;
        margin: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30%;
    }
    
    .container-contact h1 {
        text-align: center;
        margin-bottom: 40px;
        color: white;
        font-size: 30px;
    }

}

@media (max-width:440px) {

    html {
        font-size: 50%;
    }

    .contact .row .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .contact .row .map img {
        width: 100%;
    }

    .contact .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: none;
    }

    .container-contact {
        background-color: #a55301;
        text-transform: uppercase;
        padding: 30px;
        border-radius: 7px;
        text-align: center;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .form-control {
        position: relative;
        margin: 20px;
        width: 250px;
    }
    
    .form-control input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid white;
        display: block;
        width: 95%;
        padding: 12px 0;
        font-size: 18px;
        color: white;
    }

}